.shop-item {
  background-color: white;
  border: 0.2rem solid $grunge_grey;
  padding: 1rem;
  min-height: 24rem;
  margin: 2rem 0;

  .item-title {
    font-size: 2rem;
    color: $messy_brown;
  }

  img {
    float: left;
    height: 12rem;
    margin-right: 1rem;
  }

  button {
    margin-top: 2rem;
    width: 100%;
  }
}
